Source: ros-melodic-urdf-geometry-parser
Section: misc
Priority: extra
Maintainer: Vincent Rousseau <vincent.rousseau@irstea.fr>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-tf2, ros-melodic-urdf
Homepage: http://ros.org/wiki/urdf_geometry_parser
Standards-Version: 3.9.2

Package: ros-melodic-urdf-geometry-parser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roscpp, ros-melodic-tf2, ros-melodic-urdf
Description: Extract geometry value of a vehicle from urdf
